@import url('https://fonts.googleapis.com/css2?family=Federo&family=Open+Sans&family=Potta+One&display=swap" rel="stylesheet');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  width: 100%;
  min-height: 100vh;
  display: flex;
flex-direction: column;

  

}